.navigation {
  @extend %cover;
  @extend %spreadout;
  
  width: 100%;
  height: 64px;
  color: $color-quarter-spanish-white;
  pointer-events: none;
  position: fixed;
  z-index: z('navigation');
  padding: 2px 16px;

  mix-blend-mode: difference;
}

.navigation__link {
  // font-size: 0;
  height: 2rem;
  // left: 4rem;
  pointer-events: auto;
  // position: absolute;
  // top: 4rem;
  transition: opacity 0.4s ease;
  // width: 12.8rem;

  &:hover {
    opacity: 0.5;
  }

  @include media('<phone') {
    // height: 4.3rem;
    // left: 5rem;
    // top: 5rem;
    // width: 27.9rem;
  }
}

.navigation__link__text {
  color: #fff;
  // mix-blend-mode: difference;
}

.navigation__link__icon {
  display: block;
}

.navigation__list {
  display: flex;
}

.navigation__list__item {
  pointer-events: auto;
  // position: absolute;
  // right: 4rem;
  // top: 4rem;
  &:not(:last-child) {
    // margin-right: 1.5rem;
    margin-right: 20px;
  }
}

.navigation__list__link {
  // @extend %link--hidden;
  // @extend %title-24;

  display: block;
}
