doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")
    //- title= `${title || 'Home'} | ${helpers.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    //- meta(name="description", content=`${description  || 'Just a tiny little website'}`)
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(href="main.css" rel="stylesheet")
  body
    //- h1 test
    include ./pages/home.pug
    //- block header
     
    //- block content

    //- block footer

    //- block scripts
    //-   script(src="/dist/app.bundle.js")