.home(data-background="#ff3c3c" data-color="#F9F1E7")
  //- .home__pitch
  //-   h1 Lorem ipsum ipsum
  .container.container--outer.home__wrapper
    .container.container--inner
      h1.home__titles__title__text test
